$DARK: #222222;
$LIGHT: #c4c4c4;
$PRIMARY: #0a3d4e;
$SECONDARY: #4d8ba4;
$HIGHLIGHT: #b10055;

body {
  background-color: $DARK;
  font-family: 'Signika', sans-serif;
  color: lighten($LIGHT, 20);
  min-height: 100vh;
}

.app, #root, .app-contents {
  min-height: 100vh;
}

.app-contents {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar-spacer {
  padding-top: 100px;
}

.loading-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loading-text {
    padding-top: 250px; //Because CSS is stupid
    color: $HIGHLIGHT;
    font-size: 10vh;
  }
}

.bands-or-artists {
  display: flex;
  flex-direction: row;
  font-size: 75px;
  height: 100vh;

  .bands-button {
    flex: 1;
    background-image: url('./images/band.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artists-button {
    flex: 1;
    background-image: url('./images/musician.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.bands-view {
  flex: 1;
  height: 100%;

  .band-card:nth-child(even) {
    background: $PRIMARY
  }
  .band-card:nth-child(odd) {
    background: $SECONDARY
  }

  .band-card {
    display: flex;
    flex-direction: column;
    background-color: $PRIMARY;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;

    .band-image {
      width: 100%;
    }

    .band-name {
      font-size: 60px;
      margin-top: -10px;
      padding-top: 10px;
      color: lighten($LIGHT, 15);
    }
  }
}

.scan-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .scan-cta-header {
    color: $HIGHLIGHT;
    font-size: 10vh;
  }

  .manual-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input, button {
  font-size: 30px;
  border: $SECONDARY solid 2px;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

button {
  color: $HIGHLIGHT;
  border-color: $HIGHLIGHT;
  background-color: $DARK;
  padding: 10px 15px 10px 15px;

  &:focus {
    outline: none;
  }

  &:active {
    animation: fadeBackground 1s linear forwards;
  }
}

@keyframes fadeBackground {
  0%,10% {
    background-color: $LIGHT;
  }
  100% {
    background-color: $DARK;
  }
}
