.privacy-policy {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  color: #5e5e5e;

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
  }

  ol {
    li {
      padding-left: 30px;
    }
  }

  strong {
    font-weight: bold;
  }
}
